body {
    align: center;
    background-color: white;
    margin: 0;
    padding: 0;
    font-size: 19px;
 }

input, select, td, textarea {
    font-size: 19px;
    padding: 4px;
}
input.px {
    width: 220px;
}
input.px2 {
    width: 180px;
}
a {
    text-decoration: none;
    color: white;
}

.small {
    font-size:12px;
    font-weight:normal;
}
p.bold {
    line-hight: 80%;
    margin: 3px 0 3px 0;
    font-weight:bold; 
    font-size:30px;
}
.high p.bold {
    margin: 6px 0 6px 0;
}

/* GENERIC NEXT BUTTON */
.page div.nextButton {
    text-align: center;
    border: 2px solid white;
    margin: 1em;
    padding: 0.5em;
    color: white;
    background-color: black;
}

.page.invalid div.nextButton {
    background-color: gray;
}
.page.invalid .nextButton {
    pointer-events: none;
}


.page div.nextButton:hover {
    background-color: orange;
}

/* PAGE TEXT LAYOUT */
.page {
    position: absolute;
}

.page .text {
    margin: 0 1em 0 1em;
}

.wide .page > div {
    display: table;
    float: left;
    margin: 0 0.5em 0 0.5em;
}

/* FORM FORMAT */
.wide div.kontotext {
    display: table;
    float: left;
    width: 170px;
}

/* BACKGROUND IMAGE */
#background {
    position:absolute;
    top: 0px;
    left: 0px;
    border: 0px;
    z-index: -10;
}

/* HEADER */
#header {
    text-align: center;
}
#header .bar {
    position: absolute;
    width: 100%;
    top: 17px;
    background: black;
}
#header img {
    position: relative;
}

.high #header .bar {
    top: 14px;
    height: 33px;
}
.wide #header .bar {
    height:43px;
}

/* BACK BUTTON */
.wide .backButton {
    width: 47px;
    height: 103px;
    border: 0px;
    color: rgba(0,0,0,0);
    background: url(img/zur_wide.png);
}
.wide .backButton:hover {
    background-position: -47px 0;
}
.high .backButton {
    width: 103px;
    height: 47px;
    border: 0px;
    color: rgba(0,0,0,0);
    background: url(img/zur_high.png);
    margin: 0 0 0 1em;
}
.high .backButton:hover {
    background-position: 0 -47px;
}

/* NEXT BUTTON: "Weiter" */
.high input.weiter {
    width: 127px;
    height: 46px;
    border: 0px;
    color: rgba(0,0,0,0);
    background: url(img/widget-weiter_sprite_high.png);
    background-position: 0 -46px;
}
.high input.weiter:hover {
    background-position: 0 0;
}

.high .invalid input.weiter.nextButton {
    background-position: 0 -92px;
}

.wide input.weiter {
    width: 46px;
    height: 97px;
    border: 0px;
    color: rgba(0,0,0,0);
    margin: 0 0 0 1em;
    background: url(img/widget-weiter_sprite.png);
    background-position: -46px 0;
}
.wide input.weiter:hover {
    background-position: -92px 0;
}

.wide .invalid input.weiter.nextButton {
    background-position: 0 0;
}

/* RESTART BUTTON */
input.restart {
    width: 162px;
    height: 113px;
    border: 0;
    color: rgba(0,0,0,0);
    background: url(img/widget-restart.png);
}
input.restart:hover {
    background-position: 0 -113px;
}

/* PAGE1: jetzt spenden */
#jetztSpenden {
    width: 226px;
    height: 141px;
    background: url(img/widget_spendenknopf.png);
    border: 0px;
    color: rgba(0,0,0,0);
}
#jetztSpenden:hover {
    background-position: 0 -141px;
}
.wide #jetztSpenden {
    position: relative;
    top: -15px;
}
.wide #page1 .text {
    margin: 0 0 0 50px;
}

/* PAGE2: Betrag eingeben */
#betragMehr, #betragWeniger {
    width: 42px;
    height: 45px;
    border: 0px;
    color: rgba(0,0,0,0);
}
#betragMehr {
    background: url(img/up.png);
}
#betragMehr:hover {
    background-position: 0 -45px;
}
#betragWeniger {
    background: url(img/down.png);
}
#betragWeniger:hover {
    background-position: 0 -45px;
}
#betrag {
    text-align: right;
    width: 80px;
}
#currency {
    width: 60px;
}
#jetztBezahlen {
    width: 212px;
    height: 129px;
    border: 0px;
    color: rgba(0,0,0,0);
    background: url(img/bez.png);
}
#jetztBezahlen:hover {
    background-position: 0 -129px;
}
.high .text {
    margin: 1em 1em 1em 1em;
}

/* PAGE3: Zahlungsart */
#payUeberweisung {
    width: 192px;
    height: 55px;
    border: 0px;
    color: rgba(0,0,0,0);
    background: url(img/weis.png);
}
#payUeberweisung:hover {
    background-position: 0 -54px;
}
#payLastschrift {
    width: 166px;
    height: 48px;
    border: 0px;
    color: rgba(0,0,0,0);
    background: url(img/last.png);
}
#payLastschrift:hover {
    background-position: 0 -48px;
}
#payPaypal {
    width: 144px;
    height: 48px;
    border: 0px;
    color: rgba(0,0,0,0);
    background: url(img/paypal.png);
}
#payPaypal:hover {
    background-position: 0 -48px;
}



/* LASTSCHRIFT3: Ich bin einverstanden */
input.einverstanden {
    width: 221px;
    height: 129px;
    border: 0px;
    color: rgba(0,0,0,0);
    background: url(img/widget-ok.png);
}
input.einverstanden:hover {
    background-position: 0 -129px;
}

/* BITCOIN */
.bitcoinaddress {
    border: 1px solid black;
    background-color: white;
    padding: 3px;
    font-family: "courier";
    text-align: center;
    max-width: 200px;
}
.bitcoinaddress:hover {
    background-color: orange;
}
